ec2_instance_type: "t2.micro"
ec2_image: "ami-9eb4b1e5"
ec2_keypair: "dr-kp-us-east"
ec2_user_data: "#!/bin/bash \n echo ECS_CLUSTER=\"${ECS_CLUSTER_NAME}\" >> /etc/ecs/ecs.config"
ec2_region: "${EC2_REGION}"
ec2_tag_Role: "${EC2_TAG_ROLE}"
ec2_tag_Type: "${EC2_TAG_TYPE}"
ec2_volume_size: ${EC2_VOLUME_SIZE}
ec2_count: ${EC2_COUNT}
STATE_RES_NAME: "${STATE_RES_NAME}"
# comment out when performing local testing
ec2_security_group: "${TEST_PUBLIC_SG_ID}"
ec2_subnet_ids: ["${TEST_PUBLIC_SN_01_ID}","${TEST_PUBLIC_SN_02_ID}"]
ec2_tag_Environment: "${ENVIRONMENT}"
ECS_CLUSTER_NAME: "${ECS_CLUSTER_NAME}"

# for local testing - uncomment below
# ec2_security_group: "sg-d95ab7a9"
# ec2_subnet_ids: ["subnet-f9fe0f9d","subnet-3a95fe16"]
# ec2_tag_Environment: "test"
# ECS_CLUSTER_NAME: "test-ecs-cluster"
